@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


/*na ftiaksw to ultrawide support dld meta ta 1600 width me @media querry*/
* {
    box-sizing: border-box;
    --hello-font-size: 7rem;
    --hello-font-m:4rem;
    --hello-font-s: 3rem;

}

:root {
    --primary-color: #24252A;
    --secondary-color: white;
}

.white-theme{
    --primary-color:white ;
    --secondary-color: #121212;
}

body {
    margin: 0;
    padding: 0;
    background-color:aqua;
}


/*theme toggle*/
/* The switch - the box around the slider */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  top:12px;
  left:30px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: var(--secondary-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px var(--primary-color);
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--primary-color);
}
/*end of theme toggle*/

/*Preloader style*/

.loader-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    z-index: 99999;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-hidden{
    animation: vanish 2s forwards;
    visibility: 0;
}

@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }   
}

.loader {
    display: flex;
    align-items: center;
}

.bar-loader {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
.bar-loader:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}
  
.bar-loader:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }

/*End of Preloader style*/

#logosvg{
    height: 50px;
    width: 150px;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: var(--secondary-color);
    padding: 15px 10%;
    margin: auto;
}

.logo {
    margin: .5rem;
    cursor: pointer;

}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;  
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: 2.3rem;
    left: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.theme-toggle {
    position: absolute;
    top: 2.25rem;
    right: 5%;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    
}

#themeIcon{
    position: inherit;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: auto;
    
}

.home-container{
    display: flex;
    justify-content: space-between;  
    background-color: var(--secondary-color);
    height:86.5vh;

   /* border: 3px solid green ;*/
}

.heading-box{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  /*  border: 3px solid violet;*/
    width: fit-content;
    height: fit-content;
    align-self: center;
    
}

.main-heading{
    font-family: "Montserrat", sans-serif;
    color:var(--primary-color);
    font-size: var(--hello-font-size);
    margin: auto;
    margin-left: 10%;
    text-align: left;
  /*  border: 3px solid black;*/
    height: fit-content;
    margin-top:10%
    

}
.main-paragraph{
    height: fit-content;
    width: fit-content;
    display: flex;
    font-family: "Montserrat", sans-serif;
    color:var(--primary-color);
    font-weight: 400;
   /* border: 3px solid red;*/
    margin-left:11.25%;
}


.main-image{
    margin-right:5%;
    display: flex;
  /*  border: 3px solid blue;*/
    width: (100vw)/2;
    height: fit-content;
    align-self: center;
}

#mainimage{
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width:  100%;
    align-items: center;
    
}

.about-me-container{
    background-color: floralwhite;
    width: 100hw;
    height: 100vh;
}



@media(max-width: 1100px) {
    .main-heading{
        font-size: var(--hello-font-m);
    }
}

/* Resposive optimization */

@media(max-width: 650px) {
    .loader-wrapper {
        position: none;
    }
    
    .switch {
        top: 0px;
        left: 0px;
        margin: auto;
    }

    .toggle-button {
        display: flex;
    }
   
    #logosvg{
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .navbar-links{
        display: none;
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border: solid 1px #3c3d41;
        border-radius: 15px;
        margin-bottom:3%;
    }
   
    .navbar-links li a {
        padding: .5rem 1rem;
    } 

    .navbar-links.active {
        display: flex;
    }

    .theme-toggle{
        right:5%;
    }

    #themeIcon{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }

    .home-container{
        flex-wrap: wrap;
        position: relative;
        margin:0;
        height:100%;
    }

    .heading-box{
        width:100%;
        margin:0;
        align-items: center;
    }

    .main-heading{
        font-size: var( --hello-font-s);
        margin:5%;
        margin-top: 10%;
        text-align: center;
    }

    .main-paragraph {
        margin:5%;
        margin-top:2%;
        text-align: center;
    }

    .main-image{
        width:100%;
        margin:auto;
        padding: 10%;
    }

    #mainimage{
        margin:0;
        padding: 0;
    }
}
